<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itdoc.mybatis.bc.dao.EmployeeMapper">

    <select id="queryById" resultType="com.itdoc.mybatis.bc.entity.EmployeeEntity">
        SELECT
          id          AS `id`
          , last_name AS `name`
          , email     AS `email`
          , gender    AS `gender`
        FROM employee a
        WHERE 1 = 1
              AND id = #{id}
    </select>

    <insert id="insert" parameterType="com.itdoc.mybatis.bc.entity.EmployeeEntity">
        INSERT INTO employee (
          last_name
          , email
          , gender)
        VALUES (
          #{name}
          , #{email}
          , #{gender}
        )
    </insert>

    <update id="update" parameterType="com.itdoc.mybatis.bc.entity.EmployeeEntity">
        UPDATE employee
        SET last_name = #{name}
          , email     = #{email}
          , gender    = #{gender}
        WHERE 1 = 1
              AND id = #{id}
    </update>

    <delete id="delById">
        DELETE
        FROM employee
        WHERE 1 = 1
              AND id = #{id}
    </delete>


</mapper>