<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itdoc.mybatis.bc.dao.EmployeeMapper">

    <select id="queryById" resultType="com.itdoc.mybatis.bc.entity.EmployeeEntity">
        SELECT
          id          AS `id`
          , last_name AS `name`
          , email     AS `email`
          , gender    AS `gender`
        FROM employee a
        WHERE 1 = 1
              AND id = #{id}
    </select>
</mapper>